<nav id="topNav" class="navbar navbar-default navbar-fixed-top ttop">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
        </div>
        
        
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav" style="float: left">
                <li>
                <a class="page-scroll" href="#first" ><img style="width:115px;" src = "likelionlogo.png"/></a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav"  style="float: right; margin-top:5px">
                <li> 
                    <a class="page-scroll" href="#one" >소개</a>
                </li>
                <li>
                    <a class="page-scroll" href="#two">4기 일정</a>
                </li>
                <li>
                    <a class="page-scroll" href="#three">멤버</a>
                </li>
                <li>
                    <a class="page-scroll" href="#actpicture">활동사진</a>
                </li>
                <li>
                    <a class="page-scroll" href="#four">서비스</a>
                </li>
                <li>
                    <a class="page-scroll" href="#map">찾아오시는길</a>
                </li>
                <li>
                <div class="fb-like" data-href="https://sejonglikelion-mayongss.c9users.io/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" style="margin-top:20px"></div>
                </li>          
                <li>
                    <a id="kakao-link-btn" href="javascript:sendLink();">
                        <img width="25px" height="25px"src="http://dn.api1.kage.kakao.co.kr/14/dn/btqa9B90G1b/GESkkYjKCwJdYOkLvIBKZ0/o.jpg"/>
                    </a>
                </li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">-->
            <!--    <li>-->
            <!--        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>-->
            <!--    </li>-->
            <!--</ul>-->
        </div>
    </div>
</nav>
<header id="first">
    <div style="position:absolute" class="header-content">
        <div class="inner">
            <!--
            <h1 class="cursive">멋쟁이 사자처럼</h1>
            <h4>at 세종대학교</h4>
            <hr>
            -->
        </div>
    </div>
 
    <video style="position:relative" autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="/img/lionbackground.png" id="video-background" controls>
         <!--<source src="http://0.s3.envato.com/h264-video-previews/80fad324-9db4-11e3-bf3d-0050569255a8/490527.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser. -->
         <!--<source src="https://video.xx.fbcdn.net/hvideo-xtp1/v/t43.1792-2/12934195_525715044303709_1909657964_n.mp4?efg=eyJybHIiOjE1MDAsInJsYSI6MzY1OSwidmVuY29kZV90YWciOiJzdmVfaGQifQ%3D%3D&rl=1500&vabr=869&oh=be4ec229414df6f0537f35ac8000dbe6&oe=5728B963" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.-->
         <source src="/video/lionintro2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
        <!--<source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser./>-->
    </video>
   
</header>
  
<!--상원work-->
<!--
<section class="bg-primary" id="one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h1 class="margin-top-0 text-primary">"비전공자에게 코딩을 가르치면  </h1>
                <h1 class="margin-top-0 text-primary">어떤 일이 벌어질지 궁금했다.” </h1>
                <br>
                <p class="text-faded", style="font-size:1.5em">
                    멋쟁이사자처럼은<br>
                    한국, 호주, 미국, 일본에서 5천여명의 대학생들이 <br>
                    활동하는 전국 연합동아리 입니다.<br><br>
                </p>
                 
                <hr>
                <p class="text-faded", style="font-size:2.0em">    
                    안녕하세요. <br>
                    LikeLion at Sejong에 오신걸 환영합니다.<br>
                    멋쟁이사자처럼 at 세종 5기는 <br>
                    학교 운영진이 직접 구성되어 운영됩니다.<br>
                </p>
              
            </div>
        </div>
    </div>
</section>

-->
<!--
<section class="bg-primary" id="one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
               
                <br>
                <p class="text-faded">
                    <div class="col-sm-12 text-center about-text">
                        <p style="font-size:1.7em">컴퓨터를 전혀 모르는 <u>대학생</u>들이
                        <br>내가 만들고 싶은 <u>IT서비스</u>를</p>
                        <p style="font-size:2em"><u>직접</u> 배워서<br><u>직접</u> 런칭한다</p>
                        <p style="font-size:2.7em">단 <u>90일</u>만에</p>
                        <p class="orange">2013년 서울대, 2014년 수도권, 2015년 전국<br>2016년은 전국 대학 모집에서 <font class="nowrap"><u>세계 대학 모집</u>으로 확장</font></p>
                 </div>
                </p>
                <a href="http://likelion.net/" class="btn btn-default btn-xl page-scroll">멋사 홈페이지</a>
            </div>
        </div>
    </div>
</section>
-->

<section class="bg-onepart" id="one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center text-onecolor ">
                <br>
                <p>
                    <div class="col-sm-12 text-center ">
                        <div style="text-align:center">
                            <img style="width:60%;"src = "whitelogo.png"/>
                        </div>
                        <hr>
                        <hr>
                        <p style="font-size:1.7em">컴퓨터를 전혀 모르는 <strong>대학생</strong>들이 <br>내가 만들고 싶은 IT서비스를</p>
                        <p style="font-size:2em"><strong>직접</strong> 배워서<strong>직접</strong> 런칭한다</p>
                        <p style="font-size:2.7em">단 <strong><u>90일</u></strong>만에</p>
                        <p class="orange">2013년 서울대, 2014년 수도권, 2015년 전국<br>2016년은 전국 대학 모집에서 <font class="nowrap">세계 대학 모집으로 확장</font></p>
                    </div>
                </p>
                <a href="http://likelion.net/" class="btn btn-default btn-xl page-scroll" sytle="bold"><h3>멋사 홈페이지</h3></a>
            </div>
        </div>
    </div>
</section>

<section id="two">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <img src="schedulelion.png" width="70%">
        </div>
    </div>
</section>




<!--상원end-->

<!--수빈work-->
<section id="three", class="no-padding">
   
    <div class="container">
        <img src="/img/member.png" width="100%">
        <hr>
        <hr>
        <div class="row no-gutter">
            <!--first line-->
            
            <!--수빈-->
        
          
            <div class="col-lg-offset-1 col-lg-2  col-sm-4 col-xs-6 profile_div">
                <a href="#galleryModal" class="gallery-box">
                <img src="/img/sb.jpg" class="img-responsive" alt="Image 1">
                <div class="gallery-box-caption">
                    <div class="gallery-box-content">
                        <div class="profile">
                         <h6>환경에너지공간융합과</h6>
                            박수빈
                        </div>
                    </div>
                </div>
                </a>
            </div>
            
            <!--정규-->
            <div class="col-lg-2 col-sm-4 col-xs-6 profile_div">
                <a href="#galleryModal" class="gallery-box">
                    <img src="/img/jg.jpg" class="img-responsive" alt="Image 2">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div class="profile">
                             <h6>정보통신공학과</h6>
                             오정규
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--상원-->
            <div class="col-lg-2 col-sm-4 col-xs-6 profile_div">
                <a href="#galleryModal" class="gallery-box">
                    <img src="/img/sw.jpg" class="img-responsive" alt="Image 3">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div class="profile">
                            <h6>정보통신공학과</h6>
                             이상원
                             </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--동희-->
            <div class="col-lg-2 col-sm-4 col-xs-6 profile_div">
                <a href="#galleryModal" class="gallery-box">
                    <img src="/img/dh.jpg" class="img-responsive" alt="Image 4">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div class="profile">
                            <h6>정보통신공학과</h6>
                             이동희
                             </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--하영-->
            <div class="col-lg-2 col-sm-4 col-xs-6 profile_div">
                <a href="#galleryModal" class="gallery-box">
                    <img src="/img/hy.jpg" class="img-responsive" alt="Image 5">
                    <!--<p>포항공대여신 다 싸인받아 우오오오오앙!</p>-->
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div class="profile">
                            <h6>산업경영공학과(포공여신)</h6>
                             김하영
                             </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1"></div> 
            <!--second line-->
            <div class="col-lg-1"></div>
            <!--충래-->
            <div class="col-lg-2 col-lg-offset-1 col-sm-4 col-xs-6 profile_div">
               <a href="#galleryModal" class="gallery-box">
                    <img src="/img/cl.jpg" class="img-responsive" alt="Image 6">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div class="profile">
                            <h6>컴퓨터공학과</h6>
                             이충래
                             </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--예은-->
            <div class="col-lg-2 col-sm-4 col-xs-6 profile_div">
                <a href="#galleryModal" class="gallery-box">
                    <img src="/img/ye.jpg" class="img-responsive" alt="Image 7">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div class="profile">
                            <h6>영어영문학과</h6>
                            정예은
                             
                             </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--필재-->
            <div class="col-lg-2 col-sm-4 col-xs-6 profile_div">
               <a href="#galleryModal" class="gallery-box">
                    <img src="/img/pj.jpg" class="img-responsive" alt="Image 8">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div class="profile">
                                <h6>호텔경영학과</h6>
                                박필재   
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--의령-->
            <div class="col-lg-2 col-sm-4 col-xs-6 profile_div">
                <a href="#galleryModal" class="gallery-box">
                    <img src="/img/el.jpg" class="img-responsive" alt="Image 6">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                           <div class="profile">
                           <h6>경영학과</h6>
                           이의령     
                           </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--선휘-->
            <div class="col-lg-2 col-sm-4 col-xs-6 profile_div">
                <a href="#galleryModal" class="gallery-box">
                    <img src="/img/sh.jpg" class="img-responsive" alt="Image 6">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div class="profile">
                            <h6>컴퓨터공학과</h6>
                            김선휘    
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1 "></div>
        </div>
    </div>
</section>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

<!--수빈 끝-->
<div class="container" >
    <img src="/img/selfie.png" width="100%">
        <hr>
        <hr>
</div>
<section id="actpicture" class="container-fluid">
  
    <div class="swiper-container swiper-container-horizontal swiper-container-3d swiper-container-coverflow" style="cursor: grab; text-align:center;">
      <div class="swiper-wrapper col-lg-2 col-sm-4 col-xs-6">
            <div class="swiper-slide" style="margin:auto">
                <img src="/img/1.jpg" class="" alt="Image 1">
            </div>
            <div class="swiper-slide">
                <img src="/img/2.jpg" class="" alt="Image 2">
            </div>
            <div class="swiper-slide">
                <img src="/img/3.jpg" class="" alt="Image 3">
            </div>
            <div class="swiper-slide">
                <img src="/img/4.png" class="" alt="Image 4">
            </div>
        </div>
      
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
        </div>
       <div class="swiper-pagination swiper-pagination-fraction">
        <span class="swiper-pagination-current">2</span>
            /
        <span class="swiper-pagination-total">4</span>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    
</section>


<section class="container-fluid" id="four" style='margin:40px'>
    <div class="row">
        
            <hr>
            <hr>
            <hr>
             <a href="https://sejong-vivid.herokuapp.com" target="_blank" class="gallery-box1">
                <div style = "text-align:center">
                    <img src="/img/festival.png" alt="Image 6" width="70%">
                    <div class="gallery-box-caption1">
                        <div class="gallery-box-content1">
                            <div>
                                <h2>세종대학교 축제 VIVID 소개 홈페이지</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <hr>
            <hr>
            <hr>
            <a href="https://sejonglibrary.herokuapp.com/" target="_blank" class="gallery-box1">
                <div style = "text-align:center">
                    <img src="/img/hakjung.JPG" alt="Image 6" width="70%">
                    <div class="gallery-box-caption1">
                        <div class="gallery-box-content1">
                            <div>
                                <h2>세종대학교 학술정보원 불편 접수</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
     
            
    </div>
</section>
<!--<aside class="bg-dark">-->
<!--    <div class="container text-center">-->
<!--        <div class="call-to-action">-->
<!--            <h2 class="text-primary">Get Started</h2>-->
<!--            <a href="http://www.bootstrapzero.com/bootstrap-template/landing-zero" target="ext" class="btn btn-default btn-lg wow flipInX">Free Download</a>-->
<!--        </div>-->
<!--        <br>-->
<!--        <hr/>-->
<!--        <br>-->
<!--        <div class="row">-->
<!--            <div class="col-lg-10 col-lg-offset-1">-->
<!--                <div class="row">-->
<!--                    <h6 class="wide-space text-center">BOOTSTRAP IS BASED ON THESE STANDARDS</h6>-->
<!--                    <div class="col-sm-3 col-xs-6 text-center">-->
<!--                        <i class="icon-lg ion-social-html5-outline" title="html 5"></i>-->
<!--                    </div>-->
<!--                    <div class="col-sm-3 col-xs-6 text-center">-->
<!--                        <i class="icon-lg ion-social-sass" title="sass"></i>-->
<!--                    </div>-->
<!--                    <div class="col-sm-3 col-xs-6 text-center">-->
<!--                        <i class="icon-lg ion-social-javascript-outline" title="javascript"></i>-->
<!--                    </div>-->
<!--                    <div class="col-sm-3 col-xs-6 text-center">-->
<!--                        <i class="icon-lg ion-social-css3-outline" title="css 3"></i>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</aside>-->
<section id="last">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                 <a href="/page/index" class="gallery-box1">
                    <img src="/img/communicate.png" alt="Image 3">
                    
                </a>
                <br><br><br><br>
                <p>문  의</p>
                <p>E-mail : likelion.sejong@gmail.com </p>
            </div>
        </div>
    </div>
</section>
<!--<footer id="footer">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-xs-6 col-sm-3 column">-->
<!--                <h4>Information</h4>-->
<!--                <ul class="list-unstyled">-->
<!--                    <li><a href="">Products</a></li>-->
<!--                    <li><a href="">Services</a></li>-->
<!--                    <li><a href="">Benefits</a></li>-->
<!--                    <li><a href="">Developers</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="col-xs-6 col-sm-3 column">-->
<!--                <h4>About</h4>-->
<!--                <ul class="list-unstyled">-->
<!--                    <li><a href="#">Contact Us</a></li>-->
<!--                    <li><a href="#">Delivery Information</a></li>-->
<!--                    <li><a href="#">Privacy Policy</a></li>-->
<!--                    <li><a href="#">Terms &amp; Conditions</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="col-xs-12 col-sm-3 column">-->
<!--                <h4>Stay Posted</h4>-->
<!--                <form>-->
<!--                    <div class="form-group">-->
<!--                      <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="col-xs-12 col-sm-3 text-right">-->
<!--                <h4>Follow</h4>-->
<!--                <ul class="list-inline">-->
<!--                  <li><a rel="nofollow" href="" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>-->
<!--                  <li><a rel="nofollow" href="" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a>&nbsp;</li>-->
<!--                  <li><a rel="nofollow" href="" title="Dribble"><i class="icon-lg ion-social-dribbble-outline"></i></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <br/>-->
<!--        <span class="pull-right text-muted small"><a href="http://www.bootstrapzero.com">Landing Zero by BootstrapZero</a> ©2015 Company</span>-->
<!--    </div>-->
<!--</footer>-->
<div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-body">
    		<img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="img-responsive" />
    		<p>
    		    <br/>
    		    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
    		</p>
    	</div>
    </div>
    </div>
</div>

<section id="map">
    <div id="map" style="width:100%;height:350px;"></div>
</section>


<footer id="footer">
    <div class="navbar-collapse collapse">
        <span class="pull-right text-muted small" style="font-size:1.5em;">Copyright © Sejong likelion 2016</span>
    </div>
</footer>
<!--<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--    	<div class="modal-body">-->
<!--    		<h2 class="text-center">Landing Zero Theme</h2>-->
<!--    		<h5 class="text-center">-->
<!--    		    A free, responsive landing page theme built by BootstrapZero.-->
<!--    		</h5>-->
<!--    		<p class="text-justify">-->
<!--    		    This is a single-page Bootstrap template with a sleek dark/grey color scheme, accent color and smooth scrolling.-->
<!--    		    There are vertical content sections with subtle animations that are activated when scrolled into view using the jQuery WOW plugin. There is also a gallery with modals-->
<!--    		    that work nicely to showcase your work portfolio. Other features include a contact form, email subscribe form, multi-column footer. Uses Questrial Google Font and Ionicons.-->
<!--    		</p>-->
<!--    		<p class="text-center"><a href="http://www.bootstrapzero.com">Download at BootstrapZero</a></p>-->
<!--    		<br/>-->
<!--    		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>-->
<!--    	</div>-->
<!--    </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-sm">-->
<!--    <div class="modal-content">-->
<!--    	<div class="modal-body">-->
<!--    		<h2 class="text-center">Nice Job!</h2>-->
<!--    		<p class="text-center">You clicked the button, but it doesn't actually go anywhere because this is only a demo.</p>-->
<!--    		<p class="text-center"><a href="http://www.bootstrapzero.com">Learn more at BootstrapZero</a></p>-->
<!--    		<br/>-->
<!--    		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="ion-android-close"></i></button>-->
<!--    	</div>-->
<!--    </div>-->
<!--    </div>-->
<!--</div>-->
<!--scripts loaded here from cdn for performance -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script src="/js/scripts.js"></script>

<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=aea5dd2dc8e862eaaf02b61460bd441d"></script>
    <script>
      
    
    var mapContainer = document.getElementById('map'), // 지도의 중심좌표
    mapOption = { 
        center: new daum.maps.LatLng(37.54889065743457 ,  127.07473313351095), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    }; 

    var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    
    // 지도에 마커를 표시합니다 
    var marker = new daum.maps.Marker({
        map: map, 
        position: new daum.maps.LatLng(37.549095410099866 ,  127.0750869745902)
    });

    var content = '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            세종대학교' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/img/logo.png" padding="5"; width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="ellipsis">서울특별시 광진구 능동로 209</div>' + 
            '                <div class="jibun ellipsis">7호선 어린이대공원역</div>' + 
            '                <div><a href="http://sejong.ac.kr" target="_blank" class="link">홈페이지</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>';

    // 마커 위에 커스텀오버레이를 표시합니다
    // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
    var overlay = new daum.maps.CustomOverlay({
        content: content,
        map: map,
        position: marker.getPosition()       
    });
    
    // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
    daum.maps.event.addListener(marker, 'click', function() {
        overlay.setMap(map);
    });
    
    // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다 
    function closeOverlay() {
        overlay.setMap(null);     
    }
</script>

<script>
  
   var swiper = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination',
        paginationType: 'fraction'
    });

</script>